---
import type { NavItem } from '../../data/content';

interface Props {
  brand: string;
  navItems: NavItem[];
}

const { brand, navItems } = Astro.props;
---

<header>
  <div class="page-container mt-4 flex justify-around pt-8 max-[845px]:mt-2 max-[845px]:pt-5">
    <div class="frame-primary h-full">
      <div class="frame-offset glass-panel-soft px-6 py-2 max-[1245px]:px-5 max-[1245px]:py-1">
        <h2 class="m-0"><a href="#">{brand}</a></h2>
      </div>
    </div>
    <div class="frame-primary inline-block h-full place-self-center max-[845px]:hidden">
      <nav class="frame-offset glass-panel-soft px-6 py-2">
        <ul class="m-0 flex list-none gap-4 p-0 text-[21px] max-[1245px]:text-[17px]">
          {navItems.map((item) => (
            <li>
              <a
                href={item.href}
                class="relative after:absolute after:bottom-0 after:left-0 after:h-[3px] after:w-0 after:bg-primary after:transition-[width] after:duration-300 after:ease-in-out after:content-[''] hover:after:w-full"
              ><span class="mr-0.5 font-bold text-primary">#</span>{item.label}</a
              >
            </li>
          ))}
        </ul>
      </nav>
    </div>
  </div>
</header>
